/* mat-grid-tile {
    background: lightblue;
  } */

  .country-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-right: auto;
    margin-bottom: auto;
    padding-left: 2%;
  }
  
  .detail-row {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .detail-label {
    font-weight: bold;
    margin-right: 8px;
  }
  
  .detail-value {
    flex-grow: 1;
  }
  
  .customImage{
    width: 800px;
    height: 450px;
    margin-bottom: auto;
    margin-left: 10%;
  }
