<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="" (click)="sortData('nom')">
      Nom
      <mat-icon mat-sort-header-icon class="mat-sort-icon" >swap_vert</mat-icon>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
  </ng-container>

  <!-- Population Column -->
  <ng-container matColumnDef="population">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="" (click)="sortData('population')">
      Population
      <mat-icon mat-sort-header-icon class="mat-sort-icon" >swap_vert</mat-icon>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.population}} </td>
  </ng-container>

  <!-- Superficie Column -->
  <ng-container matColumnDef="superficie">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="" (click)="sortData('superficie')">
      Superficie
      <mat-icon mat-sort-header-icon class="mat-sort-icon" >swap_vert</mat-icon>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.superficie}} </td>
  </ng-container>

  <!-- pib Column -->
  <ng-container matColumnDef="pib">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="" (click)="sortData('pib')">
      PIB
      <mat-icon mat-sort-header-icon class="mat-sort-icon" >swap_vert</mat-icon>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.pib}} </td>
  </ng-container>

  <!-- Continent Column -->
  <ng-container matColumnDef="continent">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="" (click)="sortData('continent')">
      Continent
      <mat-icon mat-sort-header-icon class="mat-sort-icon" >swap_vert</mat-icon>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.continent}} </td>
  </ng-container>

  <!-- Image Column -->
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="">
      Image
    </th>
    <td mat-cell *matCellDef="let element"> <img src="{{element.image}}" alt="image" class="image" /> </td>
  </ng-container>

  <!-- Actions Column  -->
  <ng-container matColumnDef=" " class="actions-cell">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button color="primary" (click)="openEditForm(row)" >
        <mat-icon class="edit-delete-Icon">edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteCountry(row.id)" >
        <mat-icon class="edit-delete-Icon">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="viewCountryDetails(row.id,$event)"></tr>
</table>